<div class="register-container">
    <div class="register-box">
        <h2 class="register-title">Registre-se</h2>
        <div class="input-group">
            <input type="text" placeholder="Insira seu primeiro nome" class="register-input">
        </div>
        <div class="input-group">
            <input type="text" placeholder="Insira seu sobrenome" class="register-input">
        </div>
        <div class="input-group">
            <input type="Email" placeholder="Insira seu e-mail" class="register-input">
        </div>
        <div class="input-group">
            <input type="password" placeholder="Insira sua senha" class="register-input">
        </div>
        <button class="register-button">Registrar-se</button>
        <p style="text-align: center; font-size: 13px;">
            Já tem uma conta?
            <a routerLink="/login" style="color: var(--secondary-color); text-decoration: underline;">Login</a>
        </p>
    </div>
</div>