<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-column">
            <img src="assets/logo.png" alt="Livros & Letras logo" class="logo" />
            <p class="tagline">
                A sua livraria de confiança, <br />
                onde cada página conta uma história.
            </p>
        </div>

        <div class="footer-column">
            © 2025 Livros & Letras. Todos os direitos reservados.<br />
            Desenvolvido por Matheus Castilho
        </div>
    </div>
</footer>