.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
}
.logo{
    padding-left: 50px;
}
.logo-img{
    height: 60px;
}

.user-trigger {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 6px 12px;
    color: var(--primary-color);
}

.button{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    margin: 10px 70px 10px 0;
    background-color: var(--quarteary-color);
    cursor: pointer;
    color: var(--primary-color);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b67c2c;
  }
  

a {
    margin-left: 40px;
    text-decoration: none;
    color: var(--primary-color);
}
