@import "ngx-toastr/toastr";

:root {
  --primary-color: #faf9f6;
  --secondary-color: #2e4a3f;
  --tertiary-color: #c5a880;
  --quarteary-color: #c88f33; 
  --text-gray: #666;
  --text-black: #1a1a1a;
}

body {
  background-color: var(--primary-color);
  height: 100%;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.toast-container {
  top: 100px !important;
  right: 20px !important;
  z-index: 9999 !important;
}

.toast-success {
  background-color: var(--secondary-color) !important;
  color: var(--quarteary-color) !important;
}
