<div class="container" [class.active]="isSignUpActive()" id="container">
  
  <div class="form-container sign-up">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h1>Criar Conta</h1>
      <span>ou use seu email para registro</span>
      
      <input
        type="text"
        placeholder="Nome"
        formControlName="firstName"
      />
      <input
        type="text"
        placeholder="Sobrenome"
        formControlName="lastName"
      />
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="password"
        placeholder="Senha"
        formControlName="password"
      />
      <button type="submit" [disabled]="registerForm.invalid">Cadastrar</button>
    </form>
  </div>

  <div class="form-container sign-in">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Entrar</h1>
      <span>ou use sua senha de e-mail</span>
      
      <input
        type="email"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="password"
        placeholder="Senha"
        formControlName="password"
      />
      <a href="#">Esqueceu sua senha?</a>
      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
  </div>

  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Bem-vindo de volta!</h1>
        <p>Insira seus dados pessoais para usar todos os recursos do site</p>
        <button class="hidden" (click)="toggleForm()">Entrar</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Olá, Amigo!</h1>
        <p>Registre-se com seus dados pessoais para usar todos os recursos do site</p>
        <button class="hidden" (click)="toggleForm()">Cadastrar</button>
      </div>
    </div>
  </div>
</div>