<div class="create-book-container">
    <div class="create-book-box">
        <h1 class="form-title">Criar Livro</h1>

        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

            <label class="form-label">Capa</label>
            <div class="upload-container" (click)="fileInput.click()" >
                <input type="file" #fileInput hidden (change)="onFileSelected($event)" />

                <div class="upload-content" *ngIf="!previewUrl">
                    <div class="upload-icon">🖼️</div>
                    <p>Clique para fazer o upload da imagem da capa do livro</p>
                </div>

                <div class="image-preview" *ngIf="previewUrl">
                    <img [src]="previewUrl" alt="Pré-visualização da capa" class="preview-img" />
                    <p class="file-name">{{ selectedFileName }}</p>
                </div>
            </div>
            <label for="titulo" class="form-label">Título</label>
            <input id="titulo" formControlName="titulo" type="text" class="form-input" />
            <label for="autor" class="form-label">Autor</label>
            <input id="autor" formControlName="autor" type="text" class="form-input" />
            <label for="descricao" class="form-label">Descrição</label>
            <textarea id="descricao" formControlName="descricao" class="form-textarea"></textarea>

            <div class="row">
                <div class="field">
                    <label for="paginas" class="form-label">N° de páginas</label>
                    <input type="number" id="paginas" name="paginas" class="form-input">
                </div>
                <div class="field">
                    <label for="preco" class="form-label">Preço</label>
                    <input type="number" step="0.01" id="preco" name="preco" class="form-input">
                </div>
                <div class="field">
                    <label for="quantidade" class="form-label">Quantidade</label>
                    <input type="number" id="quantidade" name="quantidade" class="form-input">
                </div>
            </div>

            <label for="categoria" class="form-label">Categoria</label>
            <select name="categoria" id="categoria" class="form-input">
                <option value="">Selecione uma categoria</option>
                <option value="ficcao">Ficção</option>
                <option value="nao-ficcao">Não Ficção</option>
                <option value="biografia">Biografia</option>
                <option value="educacional">Educacional</option>
            </select>
            <button type="submit" class="submit-button">Criar</button>
        </form>
    </div>
</div>