<article class="book-card-container">
  <div book-grid>
    <a routerLink="/detalhes-do-livro" class="book-cover-link">
      <img
        src=""
        alt="Capa do livro Dom Casmurro de Machado de Assis"
        class="book-cover"
      />
    </a>

    <div class="book-content">
      <h3 class="book-title">Dom Casmurro</h3>
      <p class="author-name">Machado de Assis</p>
      <div class="book-footer">
        <data class="price" value="49.90">R$ 49,90</data>
        <button type="button" class="btn-buy">Comprar</button>
      </div>
    </div>
  </div>
</article>
