<article class="book-card-container" [routerLink]="['/catalogo/livro', book.slug]">
  <div book-grid>
    <a class="book-cover-link">
      <img
        [src]="book.bookCover"
        [alt]=" 'Capa do livro ' + book.title"
        class="book-cover"
      />
    </a>

    <div class="book-content">
      <h3 class="book-title">{{ book.title }}</h3>
      <p class="author-name">{{ book.author }}</p>
      <div class="book-footer">
        <data class="price" [value]="book.price">R$ {{ book.price}}</data>
        <button type="button" class="btn-buy">Comprar</button>
      </div>
    </div>
  </div>
</article>
